@font-face {
  font-family: "iFoodRCTextos-Light";
  src: url(../assets/fonts/iFoodRCTextos-Light.ttf);
}

@font-face {
  font-family: "iFoodRCTextos-Thin";
  src: url(../assets/fonts/iFoodRCTextos-Thin.ttf);
}

@font-face {
  font-family: "iFoodRCTextos-Medium";
  src: url(../assets/fonts/iFoodRCTextos-Medium.ttf);
}

@font-face {
  font-family: "iFoodRCTextos-Regular";
  src: url(../assets/fonts/iFoodRCTextos-Regular.ttf);
}

@font-face {
  font-family: "iFoodRCTextos-Bold";
  src: url(../assets/fonts/iFoodRCTextos-Bold.ttf);
}

@font-face {
  font-family: "iFoodRCTextos-ExtraBold";
  src: url(../assets/fonts/iFoodRCTextos-ExtraBold.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "iFoodRCTextos-Regular";
}

header {
  background-color: #eb0033;
  height: 95vh;
  color: #fff;
}

.top-content {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 1vw 0px 3vw 0px;
  align-self: flex-end;
  max-width: 1200px;
}

.logo-nav-container img {
  max-width: 88px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  padding: 1rem 0;
  white-space: nowrap;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: 0 50%;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

nav ul li .dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 1;
  border-radius: 5px;
  margin-top: 1rem;
}

nav ul li .dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav ul li:hover .dropdown {
  display: block;
}

nav ul li .dropdown a:hover {
  background-color: #cbcbcb;
  border-radius: 5px;
}

nav ul li .dropdown a::after {
  display: none;
}

.logo-nav-container {
  display: flex;
  align-items: center;
}

.button-01,
.button-02 {
  background-color: #ffffff;
  color: #eb0033;
  padding: 14px 27px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2vw;
  font-family: "iFoodRCTextos-Regular";
  white-space: nowrap;
}

.button-01:hover {
  background-color: #faedee;
  transition: 0.3s;
}

.button-02 {
  background-color: #eb0033;
  color: #fff;
}

.button-02:hover {
  background-color: #e9103f;
  transition: 0.3s;
}

.top-content button {
  display: flex;
  margin-left: auto;
}

.header-content,
.conheca-content-01,
.conheca-content-02 {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  height: fit-content;
  max-width: 1200px;
  overflow: hidden;
}

.header-content-01,
.conheca-content-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 48%;
}

.header-content-02,
.conheca-content-img {
  width: 48%;
  height: max-content;
}

.header-content-02 img,
.conheca-content-img img {
  width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: "iFoodRCTextos-Bold";
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
  color: #eb0033;
}

.header-content-01 p,
.conheca-content-info p {
  font-size: 1.3vw;
  font-family: "iFoodRCTextos-Regular";
  margin: 2vw 0;
  line-height: 1.3;
}

.header-content-01 button,
.conheca-content-info button {
  margin-top: auto;
  width: fit-content;
}

.conheca {
  margin: 5rem auto;
}

.conheca-content-info p {
  color: #3f444b;
}

.conheca-content-img img {
  border-radius: 10px;
}

.conheca-content-02 {
  margin-top: 5rem;
}

.news-background {
  background-color: #f7f7f7;
}

.news {
  padding: 4vw;
  text-align: right;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.news h5 {
  text-align: center;
  font-family: "iFoodRCTextos-Thin";
  font-size: 1.2vw;
}

.news h2 {
  text-align: center;
  color: black;
  font-size: 2.2vw;
}

.news .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin: 4vw auto;
}

.card {
  width: 32.5%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: left;
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.news h4 {
  font-family: "iFoodRCTextos-Regular";
  font-size: 1.5vw;
  width: 90%;
  margin: 1vw auto;
}

.news p {
  font-family: "iFoodRCTextos-Regular";
  font-size: 0.9vw;
  width: 90%;
  margin: 1vw auto;
}

.news span {
  font-family: "iFoodRCTextos-Regular";
  font-size: 0.9vw;
  color: #adadad;
  margin: 1vw 0;
  display: block;
  border-top: 1px solid #eaeaea;
  width: 90%;
}

footer {
  background-color: #eb0033;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  color: white;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  font-size: 1.1vw;
  margin-bottom: 15px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  font-size: 1.2vw;
  margin-bottom: 10px;
  cursor: pointer;
}

.extra-footer {
  background-color: #890019;
  padding: 1rem 0;
}

.extra-footer img {
  max-width: 88px;
}

.extra-footer p {
  font-size: 0.9vw;
  margin: 0;
}

.extra-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  color: white;
}

.menu-hamburguer {
  display: none;
}

@media screen and (max-width: 1024px), (min-width: 1600px) {
  .extra-footer p {
    font-size: 0.9rem;
  }

  .footer-column h3 {
    font-size: 1.1rem;
  }

  .footer-column ul li {
    font-size: 1.2rem;
  }
  .top-content {
    padding: 1rem 0px 3rem 0px;
  }

  nav ul li a {
    font-size: 1.4rem;
  }

  .button-01,
  .button-02 {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .header-content-01 p,
  .conheca-content-info p {
    font-size: 1.3rem;
    margin: 1rem 0;
  }

  .news {
    padding: 4rem;
  }

  .news h5 {
    font-size: 1.2rem;
  }

  .news h2 {
    font-size: 2.2rem;
  }

  .news .cards {
    margin: 4rem auto;
  }

  .news h4 {
    font-size: 1.5rem;
    margin: 1rem auto;
  }

  .news p {
    font-size: 0.9rem;
    margin: 1rem auto;
  }

  .news span {
    font-size: 0.9rem;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: fit-content;
  }

  nav ul {
    display: none;
  }

  .menu-hamburguer {
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .menu-hamburguer div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  }

  .active {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    border-radius: 0 0 10px 10px;
  }

  .top-content button {
    display: flex;
    margin: auto;
  }

  nav ul li {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #eaeaea;
  }

  nav ul li a {
    padding: 1rem 0;
    color: #000;
  }

  .button-01,
  .button-02 {
    align-self: center;
  }

  .header-content,
  .conheca-content-01,
  .conheca-content-02,
  .news .cards {
    flex-direction: column;
    align-items: center;
  }

  .header-content-01,
  .header-content-02,
  .conheca-content-01,
  .conheca-content-02,
  .conheca-content-info,
  .conheca-content-img,
  .news .cards,
  .card {
    width: 98%;
    text-align: center;
  }

  .header-content-02 {
    margin-top: 2rem;
  }

  .news {
    text-align: center;
  }

  .news .cards {
    margin: 0rem auto;
  }

  .card {
    margin: 1rem 0;
  }

  .footer-columns,
  .extra-footer-content {
    flex-direction: column;
    padding: 2rem 0;
  }

  .footer-column h3 {
    margin-bottom: 15px;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .extra-footer p {
    text-align: center;
    margin: 1rem auto;
  }
}
